@import url(http://fonts.googleapis.com/css?family=Inconsolata);
/**
 * Sjeiti theme
 *
 * Theme for testing line numbering
 *
 * @author Ron Valstar <ron@sjeiti.com>
 * @version 1.0
 */
pre {
  position: relative;
  padding: 15px;
  background: #222;
  z-index: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 20px;
  font: 12px / 15px Inconsolata, courier, monospace;
}
pre code.rainbow {
  display: block;
  min-width: 100%;
  position: static;
  color: #fff;
  word-wrap: break-word;
}
pre code.rainbow .line {
  color: #666;
}
pre code.rainbow .line:after {
  z-index: 0;
}
pre code.rainbow.rb1 {
  display: inline;
}
pre code.rainbow.rb2 .line {
  color: #999;
}
pre code.rainbow.rb2 .line:after {
  border-bottom: none;
}
pre code.rainbow #rb2ln6:before,
pre code.rainbow #rb2ln7:before,
pre code.rainbow #rb2ln8:before {
  color: yellow;
}
pre code.rainbow #rb2ln6:after,
pre code.rainbow #rb2ln7:after,
pre code.rainbow #rb2ln8:after {
  height: 100%;
  background-color: rgba(255, 255, 0, 0.1);
}
pre code.rainbow #rb4ln1233:before {
  background-color: yellow;
}
pre code.rainbow #rb4ln1233:after {
  height: 100%;
  background-color: rgba(255, 255, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 0, 0.5);
}
pre code.rainbow .comment {
  color: #FC2;
}
pre code.rainbow .string,
pre code.rainbow .comment.docstring {
  color: #9C6;
}
pre code.rainbow .keyword,
pre code.rainbow .selector {
  color: #89A;
}
pre code.rainbow .inherited-class {
  font-style: italic;
}
pre code.rainbow .entity {
  color: #A98;
}
pre code.rainbow .function.name {
  color: #97B;
}
pre code.rainbow .numeric {
  color: #38C;
}
pre code.rainbow .property {
  color: #9A8;
}
pre code.rainbow .operator {
  color: #C83;
}
