/*#sendRequestButton.button {
	color: black;
}*/

.carrousel {
	width: 100%;
	padding-top: 1.063em;
	padding-right: 10px;
	padding-bottom: 2.063em;
}
.carrousel div {
	text-align:center;
}
.carrousel img {
	max-width: 100px;
	max-height: 100px;
}

#cmd {
	font-family: "Andale Mono", "Courier New", Courier, "Nimbus Mono L", monospace;
	font-size:smaller;
	background-color:white;
	color:black;
}

.question {
	/*font-weight: bold;*/
	font-size: 1.3em;
	cursor: pointer;
	margin: 0;
	padding: 10px;
}

.answer-wrapper {
	margin: 0;
	padding: 10px;
}

.answer {
	/*border: 1px solid #000;*/
	margin: 0;
	padding: 10px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}