/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */

/* # Importar Fuentes desde googleapis
================================================== */
@import url(http://fonts.googleapis.com/css?family=Londrina+Sketch);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);

/* # Importar Fuentes propias
================================================== */
@font-face
{
	font-family: 'logoEOT';
	src: url(/static/fuentes/Sunflower_Harvest.eot);
}

@font-face
{
	font-family: 'logoTTF';
	src: url(/static/fuentes/Sunflower_Harvest.ttf);
}

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background: #2D2D2D;
		font: 14px/21px "PT Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #2D2D2D;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #2D2D2D;
		font-family: "PT Sans",  Helvetica, Arial, sans-serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; font-family: 'PT Sans';}
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }
	
	#logoText {font-family: 'logoTTF', 'logoEOT', 'Londrina Sketch'; font-size:xx-large; color: #2d2d2d;}
	#infoText {font-family: 'PT Sans'; font-weight: bold;}
	#submit {font-family: 'PT Sans'; font-weight: bold; font-size: 21px;}


/* #Links
================================================== */
	a, a:visited { color: #333; text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #eee; /* Old browsers */
		background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
		background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
		background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
		background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	  border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px;
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #222;
		background: #ddd; /* Old browsers */
		background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
		background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
		background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
		background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
		background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
		background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		border: 1px solid #666;
		background: #ccc; /* Old browsers */
		background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
		background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
		background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
		background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
		background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
		background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}


/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	
	
	
/****************************************************************************************
 ****************************************************************************************
 ****************************************************************************************/	
	
	
/* PyDownTV especific
================================================== */

#search {
	
}


#search input[type="text"] {
    background: url(/static/img/search-white.png) no-repeat 20px 12px #2d2d2d;
    border: 0 none;
    font-family: "PT Sans",  Helvetica, Arial, sans-serif;
    color: #d2d2d2;
    width:80%;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    background: url(/static/img/search-dark.png) no-repeat 20px 12px #2d2d2e;
    color: #d2d2d5;
    width: 90%;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }

html {
    /*background: url("../images/site/html.jpg") repeat scroll left top transparent;*/
}


body {
	background-image: url(/static/img/bg_back.png);
	/*background: url(/static/img/body_bg.gif) repeat-x top;
	background: #2D2D2D url(/static/img/back.png) 100px 100px scroll repeat;*/
}

#bgTopDiv{
	height: 20px;
    background-image: url(/static/img/body_bg.gif);
    background-repeat: repeat-x;
}

.logo img {
	padding-top: 15px;
	max-width: 300px;
}


#flashContainer .sixteen.columns {
	padding-bottom: 2em;
}

.flash {
	color: #fff;
	font-family: "PT Sans",  Helvetica, Arial, sans-serif;
	text-align: center;
	/*color: #FF6633;*/
	background-color: #ff6633;
	/*border: 1px solid #2d2d2d;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	/*padding: 7px;*/
	width: 70%;
	margin-left: 14%;
    font-size:100%;
}

.flash p {
}

#resultBox {
	font-size: larger;
	color:#f2f2f2;
	position: relative;
	margin-bottom: 3em;
	padding-bottom: 2em;
	border: solid 1px;
	border-color: #000;
	background-image:url(/static/img/bg_result.jpg);
	background-repeat:repeat;
	background-color:#000000;
	color:#fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#cmd {
	font-family: "Andale Mono", "Courier New", Courier, "Nimbus Mono L", monospace;
	font-size:smaller;
	background-color:#000000;
	color:white;
}

.video_img {
	padding-top: 1em;
	max-width: 300px;
	max-height: 200px;
}

img, img.video_img { outline: 0; max-width: 100%; height: auto; }

#datosVideo {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 1em;
    margin-right: 0px;
}

#divImgLogoText {
	float:left;
	border-right: -10px;
	
}

#imgLogoText {
	text-align:left;
	padding-left: 0em;
}

.carrousel {
	width: 100%;
	padding-top: 1.063em;
	padding-right: 10px;
	padding-bottom: 2.063em;
}
.carrousel div {
	text-align:center;
}
.carrousel img {
	max-width: 100px;
	max-height: 100px;
}

#site-header {
    border-bottom: 1px solid #2D2D2D;
    height: 37px;
    padding-bottom: 2.063em;
    margin-bottom: 22px;
    width: 100%;
}

#site-footer {
    border-top: 1px solid #2D2D2D;
    clear: both;
    padding-top: 2.063em;
}

/* div container containing the form  */
#searchContainer {
    /*margin:20px;*/ 
    margin-left: 5%;
    margin-right: 5%;
}
 
/* Style the search input field. */
#field {
	box-shadow: inset 0 1px 3px currentcolor;
    float:left; 
    /*width:300px; */
   	width: 88%;
    height:27px; 
    line-height:27px;
    border: 1px solid #3079ED;
    /*text-indent:10px; 
    font-family:arial, sans-serif; 
    font-size:1em; 
    color:#333; 
    background: #fff; 
    border:solid 1px #d9d9d9; 
    border-top:solid 1px #c0c0c0; 
    border-right:none;*/
}
 
/* Style the "X" text button next to the search input field */
#delete {
    float:left; 
    width:16px;
    height:29px; 
    line-height:27px; 
    margin-right:15px; 
    padding:0 10px 0 10px;
    font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
    font-size:22px; 
    background: #fff;  
    border:solid 1px #d9d9d9; 
    border-top:solid 1px #c0c0c0; 
    border-left:none;
}
/* Set default state of "X" and hide it */
#delete #x {
    color:#A1B9ED; 
    cursor:pointer;
    display:none;
}
/* Set the hover state of "X" */
#delete #x:hover {
    color:#36c;
}
/* Syle the search button. Settings of line-height, font-size, text-indent used to hide submit value in IE */
#submit {
    /*width:70px; */
    height: 41px; 
    border: 1px solid #3079ED;
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
}
/* Style the search button hover state */
/*#submit:hover {
    background: url(ico-search.png) no-repeat center #357AE8; 
    border: 1px solid #2F5BB7;
}*/
/* Clear floats */
.fclear {clear:both}


/*** LightBox para videos ******************************************************/
#lbOverlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  background-color: #000;
  cursor: pointer;
}
#lbCenter, #lbBottomContainer {
  position: fixed;
  left: 50%;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  padding: 5px;
  z-index: 1000;
}
.lbLoading {
  background: #fff url(/static/img/loading.gif) no-repeat center;
}
#lbImage {
  border: 10px solid #fff;
}
#lbPrevLink, #lbNextLink {
  display: block;
  position: absolute;
  top: 0;
  width: 50%;
  outline: none;
  height:34px;
  width:63px;
  display:none;
}
#lbPrevLink {
  left: 0;
  background: transparent url(/static/img/btn-prev.gif) no-repeat 0% 15%;
}
#lbNextLink {
  right: 0;
  background: transparent url(/static/img/btn-next.gif) no-repeat 100% 15%;
}
#lbBottom {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 10px;
  color: #666;
  line-height: 1.4em;
  text-align: left;
  border: 5px solid #fff;
  border-top-style: none;
}
#lbCloseLink {
  display: block;
  float: right;
  width: 66px;
  height: 22px;
  background: transparent url(/static/img/closelabel.gif) no-repeat center;
  margin: 5px 0;
}
#lbCaption, #lbNumber {
  margin-right: 71px;
}
#lbCaption {
  font-weight: bold;
}
.lbImageCaption {
  color: #555555;
  left: 4px;
  top:0px;
  position: absolute;
  font-size:9px;
}
/***************************************************************************************/


