<section class="bck light text justify padding">
    <div class="row text justify book margin_top FAQ">
    	<h1 class="icon tag text color theme faqtit" style="text-align: center;"> Preguntas Frecuentes</h1>
    	<br />
        <p class="question text bold">
            ¿Qué es exactamente PyDownTV?
        </p>
        <div class="answer-wrapper">
            <p class="answer text normal color normal">PyDownTV es un proyecto que se encuntra en desarrollo en <a href="https://github.com/aabilio/PyDownTV2"><span class="icon github">GitHub</span></a> que consta de una serie de Apps para ayudar a descargar los vídeos de las páginas web de las principales cadenas de televisión españolas. PyDownTV web (esta web) es una de ellas.</p>
        </div>
        <p class="question text bold">
            ¿Funciona PyDownTV Web en cualquier navegador y/o Sistema Operativo?
        </p>
        <div class="answer-wrapper">
            <p class="answer text normal color normal">
                <span style="background-color: black; color: white;">Debería ;)</span><span class="text normal color theme underline">  Aunque la mejor experiencia de usuario la obtendrás con <a href="https://www.google.com/intl/es/chrome/browser/?hl=es">Google Chrome</a>/<a href="http://www.chromium.org/">Chromium</a> o <a href="http://www.apple.com/es/safari/">Safari</a></span><br />
                PyDownTV está diseñado para que funcione en cualquier navegador y en cualquier Sistema Operativo, incluso para adaptarse a todos los tamaños de pantalla tanto de ordenadores personales como tablets o smartphones. Sin embargo, está optimizado para funcionar de manera correcta en Google Chrome/Chromium.<br />
                Se han detectado, por ejemplo, fallos de maquetación en alguna versión de Firefox e Internet Explorer.<br />
                Para el correcto funcionamiento de PyDownTV el navegador debe tener Javascript activado (esto es lo normal) y es preferible que se use un navegador actualizado a su última versión.<br />
                Desde PyDownTV se recomienda utilizar Google Chrome/Chromium para navegar por la aplicación y obtener así el máximo redimiento de la misma.
            </p>
        </div>
        <p class="question text bold">
        	¿Cómo puedo descargar un vídeo a través de esta web?
        </p>
        <div class="answer-wrapper">
            <p class="answer text normal color normal">
            	Muy fácil, solo tienes que sguir los pasos indicados más abajo, pero por si acaso, los detallo más a continuación.<br />
            	Básicamente, si estás en una navegando por la web de una televisión de España, y estás justo en una página donde
            	hay un vídeo, lo único que tienes que hacer es <a href="" style="cursor: text; background-color: black;">copiar</a> la URL (la dirección web, esa que empieza por "http://www...")
            	que se encuentra en la barra de navegación. Después tendrás que entrar en esta web, y en el cuadro de búsqueda que se encuentra
            	arriba de todo, tendrás que <a href="" style="cursor: text; background-color: black;">pegar</a> el enlace copiado antes.
            	Una vez hecho esto, solo hay que dar a <a href="" style="cursor: text; background-color: black;">Buscar!</a> y esperar a que PyDownTV encuentre el vídeo.<br />
            	Si PyDownTV encuentra el vídeo, entonces solo tendrás que dar sobre el enlace de las partes del mismo con clic
            	derecho de ratón y darle a "Guardar enlace como" a cada una de las partes.
            	Hay vídeos que no se pueden descargar con este procedimiento, para ello necesitaremos un programa especial.
            </p>
        </div>
        <p class="question text bold">
        	<a name="DescargarRtmp">¿Y cómo se descargan los vídeos "rtmp"?</a>
        </p>
        <div class="answer-wrapper">
            <p class="answer text normal color normal">
                (Para Descargar con Easy-Rtmpdump o RTMP-Downloader mirad la <a class="button tiny" href="#DescargarRtmpEasy">siguiente FAQ</a> ;)) <br /><br />
            	Esos vídeos que aparecen como "rtmp", no se pueden descargar directamente haciendo clic con el botón derecho del ratón.
            	Necesitarás un programa especial. En <a href=">https://github.com/aabilio/PyDownTV2/tree/master/Escritorio"><span class="icon github">GitHub</span></a>
            	estamos desarrollando una versión de Escritorio sobre todo para ayudar en la descarga de estos vídeos.
            	Pero mientras, lo mejor es utilizar un programa llamado <span style="background-color: black; color: white;">rtmpdump</span>.<br />
            	Lo único malo es que <span style="background-color: black; color: white;">rtmpdump</span> no dispone de interfaz gráfica, y es 
            	un programa que se ejecuta desde línea de comandos, pero vamos a ello, los pasos a seguir son:
            	<ol class="square">
            		<li class="text normal color normal">Descarga <span style="background-color: black; color: white;">rtmpdump</span> desde aquí:</li>
            		<ul class="circle">
            			<li class="text normal color normal"><a href="http://pydowntv.googlecode.com/files/rtmpdump-win32.zip">Versión para Windows</a>. No es un instalador, ver siguiente paso...</li>
            			<li class="text normal color normal"><a href="http://pydowntv.googlecode.com/files/rtmpdump-2.4_mac.pkg">Versión para Mac OS X</a> o instalar a través de <a href="http://mxcl.github.com/homebrew/">Homebrew</a>.</li>
            			<li class="text normal color normal">Para GNU/Linux, instalar a través de el gestor de paquetes (ejemplo Debian: <span style="font-family: 'Andale Mono', 'Courier New', Courier, 'Nimbus Mono L', monospace; font-size:smaller; background-color:black; color:white;">sudo apt-get install rtmpdump</span>)</li>
            		</ul>
            		<li class="text normal color normal">Ejecutar <span style="background-color: black; color: white;">rtmpdump</span>:</li>
            		<ul class="circle">
            			<li class="text normal color normal">
            				Mac OS X: Abrir la Terminal (Aplicaciones > Utilidades > Terminal) y pegar el comando que te propone PyDownTV.
            				El vídeo se descargará en tu carpeta personal.
            			</li>
            			<li class="text normal color normal">
            				GNU/Linux: Se supone que el que usa GNU/Linux ya tiene más conocimiento sobre la terminal, pero por si acaso, el procedimiento,
            				es el mismo que para Mac OS X: Abrir terminal, copiar comando, ENTER.
            			</li>
            			<li class="text normal color normal">
            				Windows: Aquí ya tenemos más problemas, por que normalmente al usuario de Windows le da más miedo la Consola.
            				Hay varias maneras más correctas de "instalar" <span style="background-color: black; color: white;">rtmpdump</span>
            				que la siguiente, pero quizá sea esta la más fácil.
            				<ul class="text normal color normal">
            					<li class="text normal color normal">
            						<a href="" style="cursor: text; background-color: black;">Copiar</a> el archivo <span style="font-family: 'Andale Mono', 'Courier New', Courier, 'Nimbus Mono L', monospace; font-size:smaller; background-color:black; color:white;">rtmpdump.exe</span>
            						descargado y <a href="" style="cursor: text; background-color: black;">pegar</a> este en la carpeta <span style="font-family: 'Andale Mono', 'Courier New', Courier, 'Nimbus Mono L', monospace; font-size:smaller; background-color:black; color:white;">System32</span> de tu sistema.
            						Quedará entonces el ejecutable en la siguiente ruta (NOTA: puede cambiar la unidad C:, D:, ..): <span style="font-family: 'Andale Mono', 'Courier New', Courier, 'Nimbus Mono L', monospace; font-size:smaller; background-color:black; color:white;">c:\Windows\System32\rtmpdump.exe</span>
            					</li>
            					<li class="text normal color normal">
            						A partir de ahora solo tienes que Abrir la consola y pegar el comando que proporiciona PyDownTV para bajar el vídeo.
            						Para abrir la consola, hay varias maneras, una es Inicio > ejecutar, y escribir "cmd" y presionar ENTER (o Inicio y en el cuadro de
            						búsqueda escribir "cmd" para versiones recientes de Windows).
            						Para pegar en la consola de Windows, se hace clic con el botón derecho del ratón sobre el fondo negro de la consola, y se selecciona pegar.
            					</li>
            					<li class="text normal color normal">
            						El vídeo se descargará en la raíz del sistema. Se podrá acceder a el a través de <span style="font-family: 'Andale Mono', 'Courier New', Courier, 'Nimbus Mono L', monospace; font-size:smaller; background-color:black; color:white;">Mi PC > Disco Local (C:)</span> (puede cambiar la Unidad) para versiones de Windows igual o menores que Windows XP.
            						Y para versiones Windows Vista y superirores, se podrá acceder al vídeo a través de <span style="font-family: 'Andale Mono', 'Courier New', Courier, 'Nimbus Mono L', monospace; font-size:smaller; background-color:black; color:white;">Equipo > Disco Local (C:)</span> (puede cambiar la unidad).
            					</li>
            				</ul> 
            			</li>
            		</ul>
            	</ol>
            </p>
        </div>
        <p class="question text bold">
            <a name="DescargarRtmpEasy">¿Cómo descargo los rtmp con Easy-Rtmpdump y/o RTMP-Downloader</a>
        </p>
        <div class="answer-wrapper">
            <p class="answer text normal color normal">
                Lo primero es lo primero, Easy-rtmpdump es un proyecto distinto a PyDownTV, aunque está diseñado para él por los mismos desarrolladores (<a href="https://github.com/aabilio/ertmpdump">también es Software Libre y su código se puede ver en <span class="button tiny icon github"> Github</span></a>). Solo está disponible para Mac OS X y GNU/Linux por ahora. ¿Por qué? Porque @forest de descargavideos.tv ya tiene una buena app para este Sistema Operativo: RTMP-Downloader.

                <ul class="circle">
                    <li class="text normal color normal">
                        <h5 style="background-color: black; color: white;">Easy-rtmpdump</h5>
                        <ul class="circle">
                            <li>
                                <u style="color: white; background-color: #1abc9c">Mac OS X</u>
                                Requisitos:
                                <ol>
                                    <li>Python: preinstalado en el sistema operativo</li>
                                    <li>Instalar PIP: Abrir terminal y pegar lo siguiente</li>
                                    <pre><code data-language="shell">curl https://raw.github.com/pypa/pip/master/contrib/get-pip.py | python</code></pre>
                                    <li>
                                        Instalar gevent-socketio: Abrir terminal y pegar lo siguiente:
                                    </li>
                                    <pre><code data-language="shell">sudo pip install gevent-socketio</code></pre>
                                    <li>Descargar Easy-rtmpdump de aquí: <a class="button tiny" href="https://www.dropbox.com/s/ac3q0z98wpyomge/easy-rtmpdump.zip">Descargar Easy-rtmpdump</a></li>
                                    <li>Descomprimir el archivo .zip donde se quiera. Y ya no hay más pasos ;)</li>
                                    <li>Para ejecutar el programa, doble clic en: Easy-rtmpdump_MACOSX. Se abre una pestaña en el navegador (recomendado Google Chrome) donde se interactuará con el programa.</li>
                                    <li>Ya solo tienes que obtener los enlaces con pydowntv y darle a descargar con Easy-Rtmpdump ;)</li>
                                    <li>
                                        Ver vídeo explicativo:
                                        <div class="video-container" id="genericUse">
                                            <iframe width="560" height="315" src="http://www.youtube.com/embed/Z-hsPc_Bb7A?rel=0" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                    </li>
                                </ol>       
                            </li>

                            <li>
                                <u style="color: white; background-color: #1abc9c">GNU/Linux</u>
                                Requisitos:
                                <ol>
                                    <li>Python: preinstalado en el sistema operativo</li>
                                    <li>Instalar PIP, Python-greenlet, Python-pip, Python-dev, Python-tk y rtmpdump (Ejemplo Debian/Ubuntu):</li>
                                    <pre><code data-language="shell">sudo apt-get install python-greenlet python-pip python-dev python-tk rtmpdump</code></pre>
                                    <li>Instalar gevent-socketio:</li>
                                    <pre><code data-language="shell">sudo pip install gevent-socketio</code></pre>
                                    <li>Descargar Easy-rtmpdump de aquí: <a class="button tiny" href="https://www.dropbox.com/s/ac3q0z98wpyomge/easy-rtmpdump.zip">Descargar Easy-rtmpdump</a></li>
                                    <li>Descomprimir el archivo .zip donde se quiera. Y ya no hay más pasos ;)</li>
                                    <li>Para ejecutar el programa, doble clic en: Easy-rtmpdump_LINUX_32bits o Easy-rtmpdump_LINUX_64bits. Se abre una pestaña en el navegador (recomendado Google Chrome) donde se interactuará con el programa.</li>
                                    <li>Ya solo tienes que obtener los enlaces con pydowntv y darle a descargar con Easy-Rtmpdump ;)</li>
                                    <li>
                                        Ver vídeo explicativo: <a target="blank_" href="https://www.youtube.com/watch?v=Z-hsPc_Bb7A">Ver vídeo Mac OS X</a>
                                    </li>
                                </ol>
                            </li>
                        </ul>
                    </li>
                    <li class="text normal color normal">
                        <h5 style="background-color: black; color: white;">RTMP-Downloader</h5>
                        <ul class="circle">
                            <li><u style="color: white; background-color: #1abc9c">Windows</u>
                                <ol>
                                    <li>
                                        Descargar el programa: <a href="http://www.mediafire.com/download/ac82wb0za9vw965/RTMP-Downloader+V0.2b.zip" class="button tiny">Versión 0.2b</a>  <a href="http://www.descargavideos.tv/lab#lab_rtmp-downloader" class="button tiny">Otras Versiones</a> 
                                    </li>
                                    <li>
                                        Pasos a seguir:
                                        <ul>
                                            <li>Descargar el archivo con el programa</li>
                                            <li>Descomprimir el archivo en una carpeta. Esta carpeta será donde se guarden también los vídeos</li>
                                            <li>Abrir el programa haciendo doble clic en el ejecutable (RTMP-Downloader.exe)</li>
                                            <li>Se abrirá una pestaña/ventana nueva en el navegador. No cerrarla.</li>
                                            <li>Buscar los enlaces con pydowntv</li>
                                            <li>Hacer clic en descargar con RTMP-Downloader (Windows)</li>
                                            <li>Esperar a que la descarga termine (se puede ver en la web que abre el programa al iniciarse)</li>
                                            <li>Se abrirá una carpeta con el vídeo una vez descargado.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        Ver vídeo explicativo:
                                        <div class="video-container" id="genericUse">
                                            <iframe width="560" height="315" src="http://www.youtube.com/embed/Jb0mt2qRXGw?rel=0" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                    </li>
                                </ol>
                            </li>
                        </ul>
                    </li>
                </ul>
            </p>
        </div>
        <p class="question text bold">
        	PyDownTV web no funciona para un enlace que estoy seguro que es correcto, ¿Qué hago?
        </p>
        <div class="answer-wrapper">
            <p class="answer text normal color normal">
            	PyDownTV no es infalible a la hora de recoger toda la información sobre los vídeos, por lo que puede fallar, y lo hará.
            	Lo importante, es que si detectas un fallo en la aplicación, nos lo hagas saber, para poder resolverlo cuanto antes.
            	Si encuentras un problema con la web, por favor, háznoslo saber en el siguiente enlace: <a href="https://github.com/aabilio/PyDownTV2/issues/">Reportar errores PyDownTV</a>.<br />
            	<ol class="square">
            		<li class="text normal color normal">
            			Crea una nueva Issue, haciendo clic a la derecha arriba en <span style="background-color: black; color: white;">New Issue</span>.
            		</li>
            		<li class="text normal color normal">
            			En la derecha especifica que es un <span style="background-color: black; color: white;">bug</span>.
            		</li>
            		<li class="text normal color normal">
            			Elige el título que creas conveniente, pero que sea <span style="background-color: black; color: white;">descriptivo</span> y que se espeifique que se hace alusión a <span style="background-color: black; color: white;">la versión web de PyDownTV</span>.
            		</li>
            		<li class="text normal color normal">
            			Rellena el cuadro de la Issue con las particularidades del fallo, intentando explicar lo mejor posible todos los detalles.
            		</li>
            	</ol>
            </p>
        </div>
        <p class="question text bold">
        	<a name="ProblemaMiTele">Mi Tele descarga un archivo de poco tamaño en vez del vídeo</a>
        </p>
        <div class="answer-wrapper">
            <p class="answer text normal color normal">
            	Antes que nada, los problemas del tiempo de descarga con MiTele deberían estar solucionados gracias a una GENIAL idea de el <span style="background-color: black; color: white;">javiero</span>,
            	cuya web podéis visitar <a href="http://eljaviero.com/descargarvideosdelasexta/">aquí</a>. Gracias de nuevo, a veces, las mejores ideas, son las más simples ;).<br /><br />
            	Por si acaso, dejo la información del error que daba antes a continuación:<br /><br />
            	No pasa nada, vas a poder descargarlos, pero <span style="background-color: black; color: white;">tienes que ser rápid@ ;)</span><br />
            	Los vídeos de MiTele, al generarse el enlace para aser descargados desde el servidor de MiTele, <span style="background-color: black; color: white;">sino se accede a ellos
            	en poco segundos caducan</span>, es por eso, que solo se descarga un archivo (.html) de poco tamaño.<br /><br />
            	Para porder descargar los vídeos de MiTele hay que ser rápidos. Tan rápidos, que 
            	<span style="background-color: black; color: white;">no da tiempo a hacer clic derecho con el ratón</span>
            	para guardarlo y descargarlo.<br />
            	Por eso propongo unas opciones:
            	<ul class="text normal color normal">
            		<li class="text normal color normal">
            			<span style="background-color: black; color: cyan;">Usando Chrome:</span>
            			tienes que hacer un simple <span style="background-color: black; color: white;">clic normal</span> 
            			con el ratón, pero <span style="background-color: black; color: white;">mientras mantienes presionada la tecla "Alt"</span>
            			del teclado.<br />
            			La tecla "Alt" es una tecla que suele estar situada en la primera fila de los teclados, empezando por
            			abajo. Suele estar tanto a la derecha como a la izquierda de la barra espaciadora, justo después de la tecla "Control" o "Ctrl".<br/>
            			El vídeo se descargará autimaticamente, el único inconviente es que no se puede guardar con un nombre elegido
            			pero una vez terminada las descarga le podrás cambiar el nombre.
            		</li>
            		<li class="text normal color normal">
            			<span style="background-color: black; color: cyan;">Usando Firefox:</span>
            			tienes que hacer un <span style="background-color: black; color: white;">clic con el botón derecho</span> 
            			del ratón, pero <span style="background-color: black; color: white;">mientras mantienes presionada la tecla "Shift"</span>
            			del teclado.<br />
            			La tecla "Shift" es una tecla que suele estar situada en la segunda fila en los teclados, empezando por
            			abajo. Suele estar tanto a la derecha como a la izquierda del todo de esta segunda línea.
            			Es la tecla que se utiliza para poner una Mayúscula simple (por eso suele poner también "Mayus" y también
            			suele estar representada por una flecha con sentido ascendente).<br/>
            			El vídeo se descargará autimaticamente, el único inconviente es que no se puede guardar con un nombre elegido
            			pero una vez terminada las descarga le podrás cambiar el nombre.
            		</li>
            		<li class="text normal color normal">
            			<span style="background-color: black; color: cyan;">En otros navegadores:</span>
            			En algunos navegadores como por ejemplo <span style="background-color: black; color: white;">Firefox</span> 
            			permiten definir el comportamiento del mismo según que tipo de enlace intente abrir el usuario.
            			Por ello podréis cambiar el funcionamiento del navegador para que cuando detecte un archivo MP4, en vez de
            			intentar abrirlo con un plugin, lo descarge directamente, así solo se tendrá que realizar un clic normal rápido sobre
            			el enlace.<br />
            			En Firefox es fácil y se hace en opciones de contenido. Allí tendréis que asociar la apertura de los archivos .mp4
            			(se puede hacer una búsqueda utilizando el cuadro para encontrarlo antes) su descarga directamente.
            		</li>
            		<li class="text normal color normal">
            			<span style="background-color: black; color: cyan;">Para Internet Explorer y Opera:</span> no conozco 
            			cómo se puede descargar un vídeo de manera más rápida que la normal (clic derecho y "guardar archivo como...")
            			por lo que recomiendo para esos usuarios es, que utilicen, aunque sea solo para utilizar esta web, Google
            			Chrome o Firefox. Y utilicen los métodos descritos más arriba.
            		</li>
            		<li class="text normal color normal">
            			<span style="background-color: black; color: white;">De manera personal, recomiendo Google Chrome 
            			para el uso de esta web</span>
            		</li>
            	</ul>
            </p>
        </div>
        <p class="question text bold">
            <a>Mi Tele descarga un archivo grande con estensión .php</a>
        </p>
        <div class="answer-wrapper">
            <p class="answer text normal color normal">
                Se ha detectado que en algunos navegadores, sobre todo móviles, <span style="background-color: black; color: white;">en vez de descargarse un archivo .mp4 se descarga un .php</span>.
                Si te fijas, el archivo es de gran tamaño, eso es por que sí es el vídeo, solo que se descarga con la extensión incorrecta. Con un navegador de archivos <span style="background-color: black; color: white;">hay que cambiar el nombre del vídeo, reemplazando el .php por el .mp4</span>.
            </p>
        </div>
        <p class="question text bold" id="soporteNuevoCanalComo">
        	¿Qué hago si PyDownTV no soporta un canal del cual quiero descargar un vídeo?
        </p>
        <div class="answer-wrapper">
            <p class="answer text normal color normal">
            	Si PyDownTV no soporta un canal que te gustaría que estuviera soportado, siempre puedes pedirlo, en la medida de lo
            	posible, se intentará ayudarte. PyDownTV es software libre, y todo el mundo puede contribuír a desarrollar un canal,
            	así que, ¿Por qué no pedirlo? <br />
            	Puedes hacerlo en el siguiente enlace: <a href="https://github.com/aabilio/PyDownTV2/issues/">Petición de canales</a>.<br />
            	<ol class="square">
            		<li class="text normal color normal">
            			Crea una nueva Issue, haciendo clic a la derecha arriba en <span style="background-color: black; color: white;">New Issue</span>.
            		</li>
            		<li class="text normal color normal">
            			En la derecha especifica que es un <span style="background-color: black; color: white;">Pedir soporte para nuevo canal</span>.
            		</li>
            		<li class="text normal color normal">
            			Elige el título que creas conveniente, pero que sea <span style="background-color: black; color: white;">descriptivo</span> e incluya que <span style="background-color: black; color: white;">es una petición de nuevo canal</span>.
            		</li>
            		<li class="text normal color normal">
            			Rellena el cuadro de la Issue con los detalles de la petición.
            		</li>
            	</ol>
            </p>
        </div>
         <p class="question text bold">
        	Tengo una sugerencia: "Me gustaría que..."
        </p>
        <div class="answer-wrapper">
            <p class="answer text normal color normal">
            	Si tienes una sugerencia, nos gustaría que la comunicaras. Nosotros veremos qué podemos hacer al respecto<br />
            	Puedes hacerlo en el siguiente enlace: <a href="https://github.com/aabilio/PyDownTV2/issues/">Sugerencias</a>.<br />
            	<ol class="square">
            		<li class="text normal color normal">
            			Crea una nueva Issue, haciendo clic a la derecha arriba en <span style="background-color: black; color: white;">New Issue</span>.
            		</li>
            		<li class="text normal color normal">
            			En la derecha especifica que es un <span style="background-color: black; color: white;">Sugerencias</span>.
            		</li>
            		<li class="text normal color normal">
            			Elige el título que creas conveniente, pero que sea <span style="background-color: black; color: white;">descriptivo</span>. Acuerdate de aclarar que hablas de la <span style="background-color: black; color: white;">versión web de PyDownTV</span>.
            		</li>
            		<li class="text normal color normal">
            			Rellena el cuadro de la Issue con los detalles de la Sugerencia.
            		</li>
            	</ol>
            </p>
        </div>
        <!--<p class="question text bold">
        </p>
        <div class="answer-wrapper">
            <p class="answer text normal color normal"></p>
        </div>-->
    </div>
</section>
<!-- Include Rainbow Code Highlighter -->
<script src="/static/rainbow/rainbow.min.js"></script>
<script src="/static/rainbow/language/generic.js"></script>
<script src="/static/rainbow/language/shell.js"></script>
<link href="/static/rainbow/themes/tricolore.css" rel="stylesheet" type="text/css">