<section class="bck lightest text center padding">
    <div class="row ">
        <div class="column_10 offset_1 margin_bottom" id="vidHowTo">
            <h1 class="text color theme">Usar PyDownTV</h1>
            <h3>
            	Vídeos de cómo usarlo normalmente y a través de plugins
            </h3>
         </div>
         <div class="column_10 offset_1">
         	<div class="video-container" id="genericUse">
         		<iframe width="560" height="315" src="http://www.youtube.com/embed/1_y9MXiHhis?rel=0" frameborder="0" allowfullscreen></iframe>
         	</div>
         	<br /><br />
         	<div class="video-container" id="UsePlugins">
         		<iframe width="560" height="315" src="http://www.youtube.com/embed/xmIdf6T0HsY?rel=0" frameborder="0" allowfullscreen></iframe>
         	</div>
         </div>
    </div>
</section>