<!-- ========================== FEATURES HOWTO ========================== -->
<section class="bck light features padding">
    <div class="row text center margin_bottom">
        <div class="column_8 offset_2">
            <h1 class="text color theme"><a href="{{ url_for('ayuda')+'#vidHowTo' }}">¿Cómo uso pydowntv web?</a></h1>
            <br />
        </div>
    </div>
    <div class="row text center book margin_top">
        <div class="column_3">
            <h1 class="icon copy text color theme"></h1>
            <h5>1. Copia la URL</h5>
            <small>Solo tienes que copiar la URL de la página que contiene el vídeo. Sí, eso que pone: "http://www.anten..."</small>
        </div>
        <div class="column_3">
            <h1 class="icon paste text color theme"></h1>
            <h5>2. Pega la URL</h5>
            <small>Ahora, en esta página, pegas lo que copiaste en el cuadro de búsqueda que se encuentra arrriba y le das a Buscar!</small>
        </div>
        <div class="column_3">
            <h1 class="icon download text color theme"></h1>
            <h5>3. Descarga el Vídeo</h5>
            <small>En el cuadro del vídeo, sobre las partes, haces clic con el botón derecho, y le das a "Guardar enlace como..."</small>
        </div>
        <div class="column_3">
            <h1 class="icon beaker text color theme"></h1>
            <h5>o.. Utiliza un plugin</h5>
            <small>También puedes utilizar directamente los plugins para los navegadores, y descargar los vídeos de manera más cómoda. Descargar <a href="{{ url_for('apps')+'#Plugins' }}">desde aquí</a></small>
        </div>
    </div>
</section>