<!-- ========================== Canales Feature Section ========================== -->
<section class="bck lightest text center padding">
    <div class="row ">
        <div class="column_10 offset_1 margin_bottom">
            <h1 class="text color theme"><a href="{{ url_for('canales')+'#tablaCompleta' }}">¿Qué canales soporta pydowntv web?</a></h1>
            <h4>
            	PyDownTV web soporta la mayoría de los canales nacionales y autonómicos y algunos locales
            </h4>
         </div>
         <div class="row">
             <div class="carrousel">
				<div>
				<img src="/static/img/logo_tvs/1.svg">
				<img src="/static/img/logo_tvs/2.svg">
				<img src="/static/img/logo_tvs/3.png">
				<img src="/static/img/logo_tvs/4.svg">
				<img src="/static/img/logo_tvs/5.png">
				<img src="/static/img/logo_tvs/6.png">
				<img src="/static/img/logo_tvs/mt.png">
				</div>
			</div>
		</div>
		<div class="column_10 offset_1 margin_bottom">
        	<a class="button large icon pushpin" href="{{ url_for('canales') }}"> Lista completa aquí</a>
         </div>
    </div>
    
</section>