<!-- ========================== FOOTER ========================== -->
<footer class="bck dark text color white padding">
    <div class="row margin_top margin_bottom">
        <!--<div class="column_8">
            <p class="text bold">Made by...</p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea similique fugit debitis saepe dolorem
        </div>-->
        <div class="column_6">
            <small>
                &copy; Copyleft 2013 by <a class="button tiny" href="https://twitter.com/aabilio">aabilio</a> <a href="http://www.linkedin.com/pub/abilio-almeida-eiroa/22/50a/1b9"><span class="icon linkedin-sign"></span></a> // Powered by <a class="button tiny" href="http://flask.pocoo.org/">Flask</a> &amp; <a class="button tiny" href="https://appengine.google.com/">GAE</a> &amp; <a class="button tiny" href="http://tuktuk.tapquo.com/">tuktuk</a>
            </small>
        </div>
        <div class="column_4 offset_2">
            <!--<p class="text bold">Sobre..</p>-->
            <!--<small>
                &copy; Copyleft 2011 by <a href=http://aabilio.tumblr.com/>aabilio</a> // Powered by <a href="http://flask.pocoo.org/">Flask</a> &amp; <a href="https://appengine.google.com/">GAE</a> &amp; <a href="http://tuktuk.tapquo.com/">tuktuk</a>
            </small>-->
            <small>
            	Importante: <a class="button tiny" href="{{ url_for('legal') }}">Aviso Legal</a> | <a class="button tiny" href="{{ url_for('privacidad') }}">Política de Privacidad</a>
            </small>
        </div>
    </div>
</footer>