<!-- ========================== HEADER ========================== -->
<header class="bck dark padding_top">
    <div class="row text color normal shadow">
        <div class="column_6">
            <a href="{{ url_for('home') }}" class="logo text normal color normal">Py<span class="text book">DownTV</span> web<img src="/static/img/favicon.png"/></a>
            <button onclick="$('#modal-right').css('display', 'block');return;" data-tuktuk-modal="modal-right" class="small secondary"><span style="font-size:1.5em" class="icon cog"></span>Opciones</button>
            <a href="https://play.google.com/store/apps/details?id=com.aabilio.pydowntv2" alt="Nueva APP Android" class="button alert small"><span style="font-size:1.5em" class="icon mobile-phone"></span>Nueva app Android!</a>
        </div>
        <div class="column_3 offset_3 text right">
            <span class="text bold">Síguenos! </span>
            <a style="font-size:1.2em" href="https://twitter.com/pydowntv" alt="Síguenos en twitter" class="icon twitter"></a>
            <a style="font-size:1.2em" href="https://www.facebook.com/webpydowntv" alt="Síguenos en Facebook" class="icon facebook"></a>
        </div>
    </div>
    <!--<div id="banner">
        <img src="/static/img/liston-negro.png" alt="Moita forza Galegos">
    </div>-->
</header>