<section class="bck darkest landing text center color white" id="myLanding">
    <div class="row">
        <div class="column_8 offset_2">
            <h1 class="logo text normal hide-phone">A<span class="text thin">Granel</span></h1>
            <h1 class="logo text normal show-phone" style="font-size: 5.5em !important;">A<span class="text book">Granel</span></h1>
            <h3>Descarga varios vídeos al mismo tiempo</h3>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="column_8 offset_2 form">
        	<form action="{{ url_for('agranel') }}" method="post" id="searchUrlOrig">
                <!--<input name="urlOrig" type="text" id="sendRequestInput" class="large float left" placeholder="Introduce AQUÍ la URL del vídeo a descargar...">-->
                <fieldset class="margin_bottom">	
                	<textarea style="min-height: 100px; min-width: 100%;" name="urlOrig" type="text" id="sendRequestInput" class="large float left" placeholder="Introduce AQUÍ las URLs de los vídeos a descargar...(en fase Beta, por favor, no abusar del servicio)"></textarea>
                </fieldset>
                <button style="color: black; border-radius: 4px 4px 4px 4px !important;" id="sendRequestButton" name="submit" onclick="$('#loading').show();" type="submit" class="button large float">
                	<div id="loading" style="display:none;"><img src="/static/img/load.gif" alt="" /></div>
                	<span id="normalSearchImg" class="icon search"></span>
                </button>
        	</form>
        </div>
    </div>
</section>