<section class="bck darkest landing text center color white" id="myLanding">
    <div class="row">
        <div class="column_8 offset_2">
            <h2 class="text normal hide-phone">Descarga vídeos de las webs de televisiones españolas</h2>
            <h3 class="text normal show-phone">Descarga vídeos de las webs de televisiones españolas</h3>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="column_8 offset_2 form">
        	<form action="{{ url_for('home') }}" method="post" id="searchUrlOrig">
                <input name="urlOrig" type="text" id="sendRequestInput" class="large on-left" placeholder="Introduce AQUÍ la URL del vídeo a descargar...">
                <button style="color: black;" id="sendRequestButton" name="submit" onclick="$('#loading').show();" type="submit" class="button large on-right">
                	<div id="loading" style="display:none;"><img src="/static/img/load.gif" alt="" /></div>
                	<span id="normalSearchImg" class="icon search"></span>
                </button>
        	</form>
        </div>
    </div>
    <!--{% if not videos %}
    <div class="row" style="padding-top: 10px;">
		<div class="columns_12">
			<h5 class="text book color theme">Estamos al corriente de los problemas con algunos vídeos de MiTele. Estamos en ello ;)</h5>
		</div>
	</div>
	{% endif %}-->
</section>